<div class="card">				
	<img class="card-img-top" src="../../_media/portfolio/5-spot.png"/>

	<div class="card-header"><i>Irregular "5-spot"-like well pattern</i></div>
		
	<div class="card-body bg-light">	
	  <div class="card-text">
        <p>This scheme is an abstract conceptualization of a completion strategy for petroleum reservoirs ocurring at a small domain. An irregular "5-spot" well pattern is formed from injector wells (red and blue) that surround a single producer well (black). The perforation cells are obtained from "anchor points" determined after an elipsoid-fitting algorithm.</p>
     </div>
  </div>
</div>
