<div class="card">				
	<img class="card-img-top" src="../../_media/portfolio/wake-3b_edited.jpg"/>

	<div class="card-header"><i>Bubble cluster wake interaction </i></div>
		
	<div class="card-body bg-light">	
	  <div class="card-text">
        <p>This simulation test considers a cluster of three bubbles arranged in arc traveling amidst a contrary liquid stream. The leading bubble goes above two trailing bubbles placed side-by-side. The wake interaction of the leading bubble over the others is observed in this velocity field.</p>    
        <p>Regions of high velocity gradients appear at the outermost lateral tips due to interface deformation. Such configuration looks like the V-flight of birds, air streams, and shedding of wingtip vortices.</p>
     </div>
  </div>
</div>
