<div class="card">				
	<img class="card-img-top" src="../../_media/portfolio/rotating-disk-simulation.jpg"/>

	<div class="card-header"><i>Centrifugal effects</i></div>
		
	<div class="card-body bg-light">	
	  <div class="card-text">
        <p>This snapshot is a frame of the simulation of a 3D simulation of a rotating disk flow displaying two fields overlapped.</p>    
        <p>The velocity field is observed by the streamlines varying from blue to red, descending from the top to the borders. Notably, the points of higher velocity occur at the brims of the circle in accordance to the centrifugal effects.</p>
        <p>On the other hand, the dissolution of the scalar field is represented by hoops which spread outward the central core.</p>
     </div>
  </div>
</div>
