<div class="card">				
	<img class="card-img-top" src="../../_media/portfolio/coalesced-bubble-iter82-time017.png"/>

	<div class="card-header"><i>Model of coalesced bubbles</i></div>
		
	<div class="card-body bg-light">	
	  <div class="card-text">
        <p>Here, the evolution of a two-phase model for two coalesced vapor bubbles immersed in a liquid continuum is studied. A Heaviside function marks the internal and external phases.</p>    
        <p>The target is to perform verification steps for the numerical code as to its capability to deal with severe topological changes.</p>
     </div>
  </div>
</div>
