<div class="card">				
	<img class="card-img-top" src="../../_media/portfolio/interior-malha-disco.png"/>

	<div class="card-header"><i>Inner view of a discoid mesh</i></div>
		
	<div class="card-body bg-light">	
	  <div class="card-text">
        <p>This is an inner overview of a FE mesh used to simulate the boundary layer of concentration of a chemical species at the lower region of a disk.</p> 

<p>On the focus, the thin boundary layer comes up in contrast to a exponential distribution of points along the axial direction of the disk.</p>     
     </div>
  </div>
</div>
