<div class="card">				
	<img class="card-img-top" src="../../_media/portfolio/dist-to-trap.png"/>

	<div class="card-header"><i>Distance-to-trap functions for qualifying geological carbon storage sites</i></div>
		
	<div class="card-body bg-light">	
	  <div class="card-text">
        <p>
            A distance-to-trap function is designed to locally weight the quality of a storage site.
            It provides an effective means of assigning relevance scores to areas surrounding a geological trap,
            making it particularly useful during the site screening and selection phases of geological carbon storage (GCS) protocols.
        </p>
     </div>
  </div>
</div>
