<div class="card">				
	<img class="card-img-top" src="../../_media/portfolio/vtk-iteracao0-slice-plano-0125.png"/>

	<div class="card-header"><i>Instabilities on the rotating flow</i></div>
		
	<div class="card-body bg-light">	
	  <div class="card-text">
        <p> Plot of spiral-like disturbances of the scalar field of a chemical species taken after post-processing of a simulation of a rotating disk flow according to T. von Kármán's solution. </p>
        <p>The cut plane is perpendicular to the axial direction of a discoid geometry near to its lower limit where more intense centrifugal effects take place.</p>
        <p>With this finite element simulation, the effects of the dissolution of electrodes in electrochemical cells containing a H2SO4 solution were investigated.</p>
     </div>
  </div>
</div>
