<div class="card">				
	<img class="card-img-top" src="../../_media/portfolio/nzh-series.png"/>

	<div class="card-header"><i>Time series forecasting of carbon emissions associated with electric consumption</i></div>
		
	<div class="card-body bg-light">	
	  <div class="card-text">
        <p>
            Peak (P) and oﬀ-peak (OP) time series of the electricity mix composition for energy supply at HULW/UFPB (top), and decomposed emissions per source (bottom) in kgCO2e units.
        </p>
     </div>
  </div>
</div>
