<div class="card">				
	<img class="card-img-top" src="../../_media/portfolio/comp-clo.png"/>

	<div class="card-header"><i>Oil well placement "spot"</i></div>
		
	<div class="card-body bg-light">	
	  <div class="card-text">
        <p>This figure is a "spot" of values that classify the local regions inside a petroleum reservoir as being of higher or lower consideration to implement well placement strategies for oil recovery. The red points make up a volume where the mathematical property stands out, thus suggesting that it is a region to be considered for production analysis.</p>
     </div>
  </div>
</div>
