<div class="card">				
	<img class="card-img-top" src="../../_media/portfolio/past-cylinder.png"/>

	<div class="card-header"><i>Past cylinder flow</i></div>
		
	<div class="card-body bg-light">	
	  <div class="card-text">
        <p>This 3D domain was developed to study boundary-layer detachment and wake effects stemming from the classical past cylinder flow. Refinement zones are placed over, around and ahead of the obstacle. (Designed for Eng. Welington Coelho)</p>
     </div>
  </div>
</div>
