<div class="card">				
	<img class="card-img-top" src="../../_media/portfolio/patch-area.png"/>

	<div class="card-header"><i>Detection of hydrocarbon geologic "leads"</i></div>
		
	<div class="card-body bg-light">	
	  <div class="card-text">
        <p>Process of patch generation from a simple binary image and a 3x3 patch model running with stride of 2. New image patches (subimages) are collectible to form a larger patch bank used for training of convolutional neural networks (CNNs) only if the area of white pixels (lead region) overlaps the running patch area by a proportion defined as "lead-pixel local area". In this example, two (blue and purple) of the three patches are non-collectible and one of them is collectible (red). Finally, the CNN is implemented for pattern recognition in seismic images.</p>
     </div>
  </div>
</div>
