<div class="card">				
	<img class="card-img-top" src="../../_media/portfolio/pdi-pores-po.png"/>

	<div class="card-header"><i>Digital image processing for porous media applications</i></div>
		
	<div class="card-body bg-light">	
	  <div class="card-text">
        <p>
            Cross section of a porous medium water-agar beads (experiment by Wu et al., 2016) and OpenCV-based edge extraction
            to compose the grain and pore regions, respectively. 
        </p>
     </div>
  </div>
</div>
