<div class="card">				
	<img class="card-img-top" src="../../_media/portfolio/rising-bubble-show.png"/>

	<div class="card-header"><i>Rising air bubble</i></div>
		
	<div class="card-body bg-light">	
	  <div class="card-text">
        <p>On this triplex screen, different views of a spherical air bubble model are observed. In this simulation, the bubble rises immersed into a sugar syrup solution by action of a pressure gradient from below, which pushes up the gas mass. The views single out a slight "dimple-like" deformation after some time of the upward movement.</p>
     </div>
  </div>
</div>
