<div class="card">				
	<img class="card-img-top" src="../../_media/portfolio/stagnant-bubble.jpg"/>

	<div class="card-header"><i>Stagnant bubble into a large continuum</i></div>
		
	<div class="card-body bg-light">	
	  <div class="card-text">
        <p>This picture shows a spherical bubble model immersed into a large continuum. Far from the bubble's nearby interaction region, the finite element mesh is designed coarser than the interface's so as to avoid additional computational efforts.</p>
     </div>
  </div>
</div>
