<div class="card">				
	<img class="card-img-top" src="../../_media/portfolio/staggered-P-Re50-iter30.jpg"/>

	<div class="card-header"><i>Hexagonally-shaped tile: 1</i></div>
		
	<div class="card-body bg-light">	
	  <div class="card-text">
        <p>Streamwise velocity field of a fluid passing through a hexagonally-shaped periodic domain.</p>    
        <p>In this kind of simulations, we seek to analyze the fluid flow locally, since the unit cell repeats spatially as a tiling, or mosaic structure. Such geometry simplifies the uniform flow of a fluid hitting pillars or cylindrical structures.</p>
     </div>
  </div>
</div>
