<div class="card">				
	<img class="card-img-top" src="../../_media/portfolio/field.png"/>

	<div class="card-header"><i>Oil-water filled flow units</i></div>
		
	<div class="card-body bg-light">	
	  <div class="card-text">
        <p>This figure shows partially oil-filled flow unit models nearby an idealized flat oil-water contact horizon. Here, flow units are identified as volumes of the reservoir rock endowed with good fluid flow properties that share oil- and water-saturated zones. In discrete terms, these volumes are formed by clusters of cells connected according to a Moore's neighborhood criterion.</p>
     </div>
  </div>
</div>
